* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  --color: #777777;
  --disabled-color: #dbd9d9;
  --primary-color: #777777;
  --secondary-color: #fff;
  --dd-bgr: whitesmoke;
  --primary-txt-color: #363636;
  --secondary-txt-color: whitesmoke;
  --header-bg-color: "#555";
  --button-bg-color: "#555";
  --primary-bg-color: white;
  --secondary-bg-color: #202020;
  --primary-h1-color: #202020;
  --link-color: "#f1f1f1";
  --hover-link-color: "#fff";
  --h1-heavy: 800;
}
.app-container{
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
}
.home-container{
  padding-top: 40px;
  width: 50%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.home-header-txt{
  font-weight: var(--h1-heavy);
  color: var(--primary-h1-color);
  font-family: 'Roboto';
  font-size: 34px;
  text-align: left;
  margin: 0 0 1.25rem 0;
  overflow-wrap: break-word;
}
.home-body-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.home-body-txt{
  color: var(--primart-txt-color);
  font-family: Roboto;
  font-size: 17px;
  text-align: left;
  margin: 0 0 1.25rem 0;
  line-height: 1.25em;
  overflow-wrap: break-word;
}


